@model LiftaiMVC.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Prisijungti</h2>
<hr />

<div class="row">
	<div class="col-md-4">
		<h2>Operatorius</h2>
		<p><a class="btn btn-default" href="~/Home/IndexOperator">Eiti &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Meistras</h2>
		<p><a class="btn btn-default" href="~/Home/IndexHandyman">Eiti &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Administratorius</h2>
		<p><a class="btn btn-default" href="~/Home/IndexAdministrator">Eiti &raquo;</a></p>
	</div>
</div>
